.App {
  text-align: center;
  background-color: #363636;
  opacity: 1;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #363636 21px ), repeating-linear-gradient( #00000055, #000000 );
}

.bgOpacity{
  opacity: .8;
}

body > #root > div {
  height: 100vh;
}
